.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarFriendImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}